# Description: allow access to files ending with specific extensions.
# Also tells the server to redirect all requests to the index file
# https://phprouter.com/
# https://github.com/phprouter/main
RewriteEngine On
RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js)$
RewriteRule (.*) public/index.php [QSA,L]